html, body {
  color: #ffffff;
  width: auto; }

.container {
  width: 100%;
  height: auto;
  color: blue;
}

.header {
    /* background-image: url("broadway/resources/images/the-flatiron-building.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%; */
  }

.heading {
    text-align: center;
  }

 h1 {
      font-weight: bold;
      font-family: Helvetica;
      color: #ffffff;
      font-size: 17000px;
    }

 ul {
      font-family: Helvetica;
      color: #ffffff;
      font-size: 18px;
    }
